body {
    font-family: "Montserrat";
    text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Ubuntu";
    font-weight: bold;
}

p {
    color: #8f8f8f;
}


/* Headings */

.big-heading {
    font-family: "Ubuntu";
    font-size: 3.5rem;
    line-height: 1.5;
    right: 20%;
}

.section-heading {
    font-size: 3rem;
    line-height: 1.5;
}


/* Containers */

.container-fluid {
    padding: 7% 15%;
}


/* Sections */

.colored-section {
    background-color: #9ed816;
    color: #fff;
}

.white-section {
    background-color: rgb(253, 255, 251);
}


/* Navigation Bar */

.navbar {
    padding: 0 0 4.5rem;
}

.navbar-brand {
    font-family: "Ubuntu";
    font-size: 3.2rem;
    font-weight: bold;
}

.nav-item {
    padding: 0 14px;
}

.nav-link {
    font-size: 1.4rem;
    font-family: "Ubuntu";
    color: azure;
}


/* Buttons */

.download-button {
    margin: 7% 4% 5% 0;
}


/* Title Section */

#title {
    background-color: #28a745;
    color: #fff;
    text-align: left;
}

#title .container-fluid {
    padding: 3% 15% 7%;
}


/* Title Image */

.title-image {
    width: 130%;
    transform: rotate(0deg);
    position: absolute;
    left: 0.2;
    -webkit-transform: ;
    -moz-transform: ;
    -ms-transform: ;
    -o-transform: ;
}


/* Features Section */

#features {
    position: relative;
    background-color: #28a745;
}

.feature-title {
    font-size: 1.5rem;
}

.feature-box {
    padding: 4.5%;
}

.icon {
    color: #9ed816;
    margin-bottom: 1rem;
}

.icon:hover {
    color: #9ed816;
}


/* Testimonial Section */

#testimonials {
    background-color: #9ed816;
}

.testimonial-text {
    font-size: 3rem;
    line-height: 1.5;
}

.testimonial-image {
    width: 12%;
    border-radius: 5%;
    margin: 20px;
}

#press {
    background-color: #9ed816;
    padding-bottom: 3%;
}

.press-logo {
    width: 15%;
    margin: 20px 20px 50px;
}


/* Pricing Section */

#pricing {
    padding: 100px;
    background-color: #28a745;
}

.price-text {
    font-size: 3rem;
    line-height: 1.5;
}

.pricing-column {
    padding: 3% 2%;
}


/* CTA Section */


/* Footer Section */

.social-icon {
    margin: 20px 20px;
}

@media (max-width: 2056px) {
    #title {
        text-align: center;
    }
    .title-image {
        position: static;
        transform: rotate(0);
        -webkit-transform: rotate(0);
        -moz-transform: rotate(0);
        -ms-transform: rotate(0);
        -o-transform: rotate(0);
    }
}